<h1>About CityGems!</h1>

<!-- This styling is temporary. My feelings will not be hurt if it is changed. -->

<div class="about-us-container" style="margin: auto; width:78%; height:70%; font-size:2.25em;">
  <p style="border:solid 2px black; padding: 2%;">Here's a bunch of cool stuff about this site!! Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
  Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
</p>
<p style="border:solid 2px black; padding: 2%;">Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
</p>
</div>
