<div class="about-us-container" style="margin: auto; width:78%; height:70%; font-size:2.25em;">
  <h1>About CityGems!</h1>
  <p style="border:solid 2px black; padding: 2%;">Here's a bunch of cool stuff about this site!! Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
  Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
Here's a bunch of cool stuff about this site!!Here's a bunch of cool stuff about this site!!
</p>
<p style="border:solid 2px black; padding: 2%;">
  Shape graphic by <a href="http://www.flaticon.com/authors/taras-shypka">Taras Shypka</a> from
  <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
</p>
</div>
