<style>

/*#city-gems-title {
  font-size: 2.25em;
}*/

  .gh {
    color: black;
  }

  .gh-links {
    align:center;
  }

  p.about-paragraphs a:hover, a.gh:hover {
    text-decoration: none;
    color: orange;
  }

  .about-us-container {
    /*margin-top: 5%;
    margin-left: 10%;
    height: 70%;
    width: 78%;*/
    padding: 2%;
    font-size: 1.75em;
  }

  .about-paragraphs {
  }
</style>


<h1 id='cover-title'>About CityGems!</h1>
<div class="about-us-container" id="gem-show-container">
  <p class="about-paragraphs"> CityGems is place to share hidden treasures scattered
    throughout the world! The world is full of painted murals, classic architecture, and beautiful scenery that
    most people might overlook. With CityGems, you can add and share gems with anyone!
</p>
<p class="about-paragraphs">
  CityGems is brought to you by four awesome web developers from <a class="about-us-gh gh" href="https://devbootcamp.com/locations/seattle">DevBootcamp</a>: </p>
  <p class="gh-links"><a class="gh" href="https://github.com/HiDefStatic">Tim Deel</a> </p>
  <p class="gh-links"><a class="gh" href="https://github.com/groovestation31785">Allyse Groover</a> </p>
  <p class="gh-links"><a class="gh" href="https://github.com/katekourbatova">Kate Kourbatova</a> </p>
  <p class="gh-links"><a class="gh" href="https://github.com/swwhitaker">Stephen Whitaker</a> </p>

  <p class="about-paragraphs">Shape graphic by <a class="about-us-gh gh" href="http://www.flaticon.com/authors/taras-shypka">Taras Shypka</a> from
    <a class="about-us-gh gh" href="http://www.flaticon.com/">Flaticon</a> is licensed under <a class="gh" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a class="gh" href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
  </p>
</div>
