<h1>Update this Gem</h1>
<div class="form-container">

    <%= render 'form', pin: @pin %>
</div>

<div class='model-link-container'>
  <%= link_to 'Return to Gem Profile', @pin, class: 'model-link', id: 'back-link' %>
</div>
