
<p>
  <strong>Author:</strong>
  <%= @comment.user.first_name %>
</p>

<p id="comment-<%= @comment.id %>">
  <strong>Content:</strong>
  <span  id='comment-content'>
  <%= @comment.content %>
</span>
</p>

<%= link_to 'Back', pin_path %>
