/* line 1, /Users/apprentice/citygems/City_Gems/app/assets/stylesheets/menu.scss */
#menu-div {
  background-color: rgba(159, 159, 159, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 10px 10px 70px 10px;
}

/* line 11, /Users/apprentice/citygems/City_Gems/app/assets/stylesheets/menu.scss */
#menu-list {
  list-style: none;
}

/* line 15, /Users/apprentice/citygems/City_Gems/app/assets/stylesheets/menu.scss */
#menu-icon {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border: 1px solid grey;
  border-radius: 100%;
  background-color: rgba(159, 159, 159, 0.7);
}

/* line 24, /Users/apprentice/citygems/City_Gems/app/assets/stylesheets/menu.scss */
#menu-gem-img {
  max-width: 45px;
  max-height: 45px;
  margin: 5px 6px 6px 9px;
}
