<h1><%= @user.first_name %>'s CityGems</h1>
<h2>Gems I've created</h2>
<% if @created.length > 0 %>
  <ol>
    <% @created.each do |pin| %>
      <li>
        <strong> <%= link_to pin.name, pin_path(pin) %></strong>
        <p>Appeal: <%= pin.appeal %></p>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>It looks like you haven't created any pins yet!</p>
<% end %>
