<h3 id="pintag-create-header">Tag this Gem</h3>

<%= form_for :pintag, url: pin_tags_path, method: :post do |f| %>
  <%= f.collection_select(:tag_id, Tag.all, :id, :label) %>
  <%= f.hidden_field :pin_id, :value => pin.id %>
  <%= f.submit 'Add Tag' %>
<% end %>
