/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";

// this color is arbitrary and can change. I just needed a color to see the container effects
body {
  background: rgb(117, 207, 240);
}

h1 {
  text-align: center;
  padding: .1em;
  font-size: 2.5vh;
}

.hidden {
  display: none;
}

#notice {
  margin: 0;
  text-align: center;
  text-color: rgba(159,159,159,0)
}

input.photo-submit {
   background-color: rgba(159,159,159,.7);
    border: none;
    color: white;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: .5em;
    border-radius: 10px;
    padding: .5em;
    max-width: 90%;
}

#new-gem-link {
  font-size: 3vh;
  color: grey;
  background-color: rgba(159,159,159,.7);
  border-radius: 10px;
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
}


// might use this in media query for desktop

// #map-placeholder {
//   height: 500px;
//   width: 98%;
//   display: block;
//   margin: auto;
//   border: 2px solid lightgray;
//   margin-top: .5em;
//   margin-bottom: .5em;
//   border-radius: 10px;
// }

#map-placeholder {
  width: 100%;
  height: 100vh;
  display: block;
  background-color: rgba(159,159,159,.7);
}

.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}


// refactor to add all popups together

.popup-new-pin-form {
  z-index: 2;
  position: fixed;
  background-color: rgba(55, 185, 233, .85);
  top: 15%;
  left: 15%;
  width: 70%;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px gold;
}

#new_comment{
  z-index: 2;
  position: fixed;
  background-color: #33D7FF;
  top: 15%;
  left: 15%;
  width: 70%;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px gold;
}

.edit_comment{
  z-index: 2;
  position: fixed;
  background-color: #33D7FF;
  top: 15%;
  left: 15%;
  width: 70%;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px gold;
}

a.navbar-brand {
  font-size: 2vh;
  padding: 1.5em;
}

.error-li {
  list-style: none;
  text-indent: none;
}

.form-container {
  text-align: center;
  font-size: 3vh;
}

#photo_upload {
  margin-top: .5em;
}

#gem-show-container {
  font-size: 3vh;
}

#gem-show-link-container {

}

#login-icon {
  margin-left: .5em;
  display: inline-flex;
  border: 2px solid blue;
}

// leaving this in case we ever have more than one icon

// .icon {
//   position: fixed;
//   bottom: 10px;
//   left: 50%;
//   right: 50%;
//   border: 1px solid grey;
//   border-radius: 100%;
//   background-color: rgba(159,159,159,.7);
//   list-style:none;
//   margin: 0;
//   padding-left:0;
// }

#menu-div {
  background-color: rgba(159,159,159,.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 10px 10px 70px 10px;

}

#menu-list {
  list-style: none;
}

#menu-icon {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border: 1px solid grey;
  border-radius: 100%;
  background-color: rgba(159,159,159,.7);
}

#menu-gem-img {
  max-width: 45px;
  max-height: 45px;
  margin: 5px 6px 6px 9px;
}

#current-user {
  display: inline-flex;
  border: 2px solid blue;
}

// style all links in menu here?
// .menu-link {

// }

#pin_form {
  max-width: 90%;
  // max-height: 90%;
  vertical-align: center;
  margin: auto;
}

.field label {
  display: block;
}

.field input, textarea {
  background-color: rgba(159,159,159,.7)
}

@media only screen and (max-width: 650px) {
  #navbar-logo, .navbar-default {
    display: none;
 }
}

#navbar-logo {
  padding-left: .5em;
  float: left;
  max-height: 90%;
}

#sign_in {
  float: right;
  font-size: 2vh;
}

.navbar-default {
  // text-color: white;
  // background: rgb(55, 185, 233); /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(left, rgb(55, 185, 233) , rgb(29, 190, 183)); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(right, rgb(55, 185, 233), rgb(29, 190, 183)); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(right, rgb(55, 185, 233), rgb(29, 190, 183)); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to right, rgb(55, 185, 233) , rgb(29, 190, 183)); /* Standard syntax */
  background: lightgrey;
}

.model-link-container {
  margin: none;
  font-size: 2.5vh;
  text-align: center;
}

.model-link {
  margin: auto;
}

#gem-show-link {
  float: left;
  padding-left: 1em;
}

#back-link {
  float: right;
  padding-right: 1em;
}

#gem-show-container {
  margin-top: 50%;
  border: solid 2px black;
  margin: 2%;
  font-size: 4em;
}
