/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_self
*= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// #load {
//     width:100%;
//     height:100%;
//     position:fixed;
//     z-index:9999;
//     background:url("/assets/gps.gif") no-repeat center center rgba(0,0,0,0.25)
// }

// this color is arbitrary and can change. I just needed a color to see the container effects
body {
  background: rgb(211, 211, 211);
}

h1 {
  text-align: center;
  padding: .1em;
  font-size: 24pt;
}

.gem-image-cover {
  max-width: 100%;
  margin: auto;
}

#flash-message {
  z-index: 29;
  position: fixed;
  background-color: rgba(255,165,0,.7);
  color: white;
  border-radius: 8px;
  // border: solid 2px black;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8em;
  width: 90%;
  top: 6%;
  left: 5%;
}

input > submit {
  color: blue;
}

input.photo-submit {
   background-color: rgba(159,159,159,.7);
    border: none;
    color: white;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: .5em;
    border-radius: 10px;
    padding: .5em;
    max-width: 90%;
}

#new-gem-link {
  font-size: 3vh;
  color: grey;
  background-color: rgba(159,159,159,.7);
  border-radius: 10px;
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
}


// might use this in media query for desktop

// #map-placeholder {
//   height: 500px;
//   width: 98%;
//   display: block;
//   margin: auto;
//   border: 2px solid lightgray;
//   margin-top: .5em;
//   margin-bottom: .5em;
//   border-radius: 10px;
// }

#map-placeholder {
  width: 100%;
  height: 100vh;
  display: block;
  background-color: rgba(159,159,159,.7);
}

.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  background-color: rgba(159,159,159,.7)
}

.mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}


// refactor to add all popups together

.cover-image {
  position: fixed;
   z-index: 0;
   top: 0; right: 0; bottom: 0; left: 0;
}

.popup-new-pin-form {
  z-index: 2;
  position: fixed;
  background-color: rgba(55, 185, 233, .85);
  top: 15%;
  left: 15%;
  width: 70%;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px gold;
}

#new_comment {
  z-index: 2;
  position: fixed;
  background-color: #33D7FF;
  top: 15%;
  left: 15%;
  width: 70%;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px gold;
}

.edit_comment {
  z-index: 2;
  position: fixed;
  background-color: #33D7FF;
  top: 15%;
  left: 15%;
  width: 70%;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 5px gold;
}

a.navbar-brand {
  font-size: 2vh;

}

.error-li {
  list-style: none;
  text-indent: none;
}

.in-cover {
  text-align: center;
  font-size: 24pt;

}

#cover-title {
  padding-top: 100px;
  margin-top: 200px;
  margin: auto;
  height: 80%;
  width: 80%;
  color: white;
  border-radius: 10px;
  background: rgba(55, 185, 233,.4);
  background: -webkit-linear-gradient(rgba(55, 185, 233,.4), rgba(29, 190, 183,.5));
  background: -o-linear-gradient(rgba(55, 185, 233,.4), rgba(29, 190, 183,.5));
  background: -moz-linear-gradient(red, rgba(29, 190, 183,.5));
  background: linear-gradient(rgba(55, 185, 233,.4), rgba(29, 190, 183,.5));
}

#cover-sub {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  margin: auto;
  width: 80%;
  color: white;
  backdrop-filter: 8px;

}

.form-container {
  text-align: center;
  font-size: 3vh;
}

#pin_form {
  background-color: rgba(159,159,159,.4)
}

#photo_upload {
  margin-top: .5em;
}

.image-container {
  padding: 2%;
  margin: 2%;
}

#photo-attribution {
  font-size: 12pt;
  color: white;
  border-radius: 15px;
}

.edit-link {
  margin: auto;
  padding-top: 5px;
  font-size: 18pt;
  display: block;
  text-align: center;
  padding-left: 2em;
  padding-top: 5px;
}

#gem-image {
  border: 2px solid rgba(159,159,159,.6);
  border-radius: 10px;
}


#gem-show-container {
  font-size: 3vh;
  height:auto;
  font-size: 24pt;
  padding-bottom: 3em;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(29, 190, 183,.6), rgba(55, 185, 233,.6));

}



#login-icon {
  margin-left: .5em;
  display: inline-flex;
  border: 2px solid blue;
}

// leaving this in case we ever have more than one icon

// .icon {
//   position: fixed;
//   bottom: 10px;
//   left: 50%;
//   right: 50%;
//   border: 1px solid grey;
//   border-radius: 100%;
//   background-color: rgba(159,159,159,.7);
//   list-style:none;
//   margin: 0;
//   padding-left:0;
// }



#current-user {
  display: inline-flex;
  border: 2px solid blue;
}

select {
  color: #24537D;
}

#pin_form {
  max-width: 90%;
  // max-height: 90%;
  vertical-align: center;
  margin: auto;
}

.field label {
  display: block;
}

.field input, textarea {
  background-color: rgba(159,159,159,.7);
  max-width: 85%;
}

#pin_image {
  margin: auto;
  text-align: center;
}

.cover-photo {
   min-height: 100px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 500px;
   border-radius-bottom: 20px;

}

@media only screen and (max-width: 650px) {
  #navbar-logo, .navbar-default, .navbar-container {
    display: none;
 }
}

.navbar-container {
  margin-bottom: 1.2em;
}

#navbar-logo {
  padding-left: .5em;
  float: left;
  max-height: 90%;
}

#sign_in {
  float: right;
  font-size: 2vh;
}

.navbar-default {
  // text-color: white;
  // background: rgb(55, 185, 233); /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(left, rgb(55, 185, 233) , rgb(29, 190, 183)); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(right, rgb(55, 185, 233), rgb(29, 190, 183)); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(right, rgb(55, 185, 233), rgb(29, 190, 183)); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to right, rgb(55, 185, 233) , rgb(29, 190, 183)); /* Standard syntax */
  background: lightgrey;
  margin-bottom: -2%;
  border: 2px solid lightgray;
}

.model-link-container {
  margin: none;
  font-size: 2.5vh;
  text-align: center;
}

.model-link {
  margin: auto;
}

#gem-show-link {
  float: left;
  padding-left: 1em;
}

#back-link {
  float: right;
  padding-right: 1em;
  margin-top: .5em;
}

#gem-show-container {
  margin: 2%;
  font-size: 24pt;
  text-align: center;
}

#edit, #delete, #new-comment-link, #delete-gem-link, #gem-website, .edit-link {
  color: white;
}
