
<div id="footer-icons">

<a href="/">
    <% if current_user %>
      <%= link_to current_user.first_name, users_path, id: "current-user"%>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>

    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign-icon" %>

  <% end %>
    </a>
    <div class="icon">
     <a id="filter-icon" href="#explore"><img src="https://swwhitaker.github.io/images/filter_icon.png" alt="filter" width="42"></a>
    	</div>
  <li id="menu-icon"><a href="/">Menu</a></li>
</ul>
</div>
