<nav class="navbar navbar-default" role="navigation">
  <div class="container navbar-container">
   <a id="navbar-logo" href="/"><img class="img-responsive2"
       src="https://swwhitaker.github.io/images/CityGemsTemp.png"></a>

   <%= render partial: "layouts/login" %>

  </div>
</nav>
